<ng-template #loginModal let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">Inicia sesión</h4>
    <button
      type="button"
      class="btn btn-link"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body"></div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.dismiss('Cross click')"
    >
      Cerrar
    </button>
    <button type="button" (click)="login()" class="btn btn-primary">
      Iniciar sesión
    </button>
  </div>
</ng-template>
