@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&display=swap");

@media (max-width: 768px) {
  .img-path-movie-detail {
    height: auto;
    background-size: cover;
    background-position: center center;
  }
}

/* The heart of the matter */
.horizontal-scroll > .row {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.card-list-horizontal {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.card-title {
  white-space: break-spaces;
}
