@if (!loading) {
  <app-background-image [image]="movie.backdrop_path">
    <div class="row">
      <div class="col-sm-5 col-md-6 col-lg-4 p-5">
        <img
          [src]="getImage(movie.poster_path, 'w500')"
          class="img-fluid rounded mx-auto d-block mxh-35-r"
          [alt]="movie.title"
        />
      </div>
      <div class="col-sm-7 col-md-6 col-lg-8 p-5">
        <h2 class="d-flex flex-wrap gap-2">
          <span class="fw-bold">{{ movie.title }}</span>
          <span class="text-muted">({{ year }})</span>
          <span>
            <app-imdb-button [imdbUrl]="movie.imdb_id" />
          </span>
        </h2>
        <span class="fs-6 fst-italic">{{ movie.tagline }}</span>
        <app-genres-chips [genres]="movie.genres" />
        <div class="d-flex my-4 align-items-center">
          <app-score [score]="movie.vote_average" [size]="80" />
          <span class="ms-3"
            >Puntuación <br />
            de los <br />
            usuarios</span
          >
        </div>

        <h5 class="fw-bold fs-5">Resumen</h5>
        <p class="text-justify fs-6 text-balance">
          {{ movie.overview }}
        </p>
        <div class="row mt-3">
          <div class="col-md">
            <span class="fw-bold">Título original: </span>
            <span class="text-muted">{{ movie.original_title }}</span>
          </div>
          <div class="col-md">
            <span class="fw-bold"> Lenguaje original: </span>
            <span class="text-muted">{{ countryName }}</span>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md">
            <span class="fw-bold">Número de valoraciones: </span>
            <span class="text-muted">{{ movie.vote_count | number }}</span>
          </div>
          <div class="col-md">
            <span class="fw-bold">Página web: </span>
            <a class="text-muted" target="_blank" [href]="movie.homepage">
              Visita la web
            </a>
          </div>
        </div>
      </div>
    </div>
    <app-time-converter
      [minutes]="movie.runtime"
      style="position: absolute; bottom: 4px; right: 10px"
    />
  </app-background-image>
  <div class="container-fluid p-4 p-md-5">
    <h5>Actores principales</h5>
    <div class="d-flex flex-wrap flex-md-nowrap align-items-center gap-4">
      <app-horizontal-people
        class="w-100 w-md-75"
        [people]="cast"
        [totalPeople]="totalCast"
      />
      <app-information-list class="w-100" [movie]="movie" />
    </div>
    <div class="d-flex flex-wrap flex-md-nowrap gap-4">
      <div class="w-100 w-md-75">
        <h5 class="mt-5">Reparto completo y equipo</h5>
        <!-- @for (department of crew; track $index) {
          <h5 class="mt-4">{{ department.name }}</h5>
          <app-horizontal-people
            class="w-100"
            [people]="department.people"
            [totalPeople]="department.people.length"
          />
        } -->
      </div>
      <app-watch-providers class="w-100" [id]="id" />
    </div>
  </div>
} @else {
  <app-plahecolder-details />
}

<!-- <div class="container-fluid" >
        <h2 class="text-center">Videos</h2><br>
        <div class="container-fluid scrollh">
            <div class="row text-center">
                <div class="col-6" *ngFor="let vid of video">
                    <youtube-player
                        videoId="{{vid.key}}"
                        suggestedQuality="highres"
                        [height]="250" [width]="500"
                        [startSeconds]="4"
                        [endSeconds]="8">
                    </youtube-player>
                </div>
            </div>
        </div>
    </div> -->
