@if (!loading) {
  <app-background-image [image]="movie.backdrop_path">
    <div class="row">
      <div class="col-sm-5 col-md-6 col-lg-4 p-5">
        <img
          [src]="getImage(movie.poster_path, 'w500')"
          class="img-fluid rounded mx-auto d-block mxh-35-r"
          [alt]="movie.title"
        />
      </div>
      <div class="col-sm-7 col-md-6 col-lg-8 p-5">
        <h2 class="d-flex flex-wrap gap-2">
          <span class="fw-bold">{{ movie.title }}</span>
          <span class="text-muted">({{ year }})</span>
          <span>
            <app-imdb-button [imdbUrl]="movie.imdb_id" />
          </span>
        </h2>
        <app-genres-chips [genres]="movie.genres" />
        <div class="d-flex my-4">
          <app-score [score]="movie.vote_average" [size]="60" />
        </div>

        <h5 class="fw-bold fs-5">Resumen</h5>
        <p class="text-justify fs-6 text-balance">
          {{ movie.overview }}
        </p>
        <span class="fs-6 fst-italic">{{ movie.tagline }}</span>
        <div class="row mt-3">
          <div class="col-md">
            <span class="fw-bold">Título original: </span>
            <span class="text-muted">{{ movie.original_title }}</span>
          </div>
          <div class="col-md">
            <span class="fw-bold"> Lenguaje original: </span>
            <span class="text-muted">{{ countryName }}</span>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md">
            <span class="fw-bold">Número de valoraciones: </span>
            <span class="text-muted">{{ movie.vote_count | number }}</span>
          </div>
          <div class="col-md">
            <span class="fw-bold">Página web: </span>
            <a class="text-muted" target="_blank" [href]="movie.homepage">
              Visita la web
            </a>
          </div>
        </div>
      </div>
    </div>
    <app-time-converter
      [minutes]="movie.runtime"
      style="position: absolute; bottom: 4px; right: 10px"
    />
  </app-background-image>

  <h3 class="text-center mt-5">Actores de la película</h3>
  <div class="container-fluid horizontal-scroll">
    <div class="row text-center py-4">
      @for (cas of cast; track $index) {
        <div class="col-md-2 col-sm-6 col-xs-6 h-100 card-list-horizontal">
          <div class="card text-bg-dark card-hover rounded" role="button">
            <img
              class="card-img-top"
              [src]="getImage(cas.profile_path, 'w500')"
              alt="afsdfs"
            />
            <div class="card-body">
              <h6 class="card-title">{{ cas.character }}</h6>
              <p class="card-text">{{ cas.original_name }}</p>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
  <!-- <div class="container-fluid" >
          <h2 class="text-center">Videos</h2><br>
          <div class="container-fluid scrollh">
              <div class="row text-center">
                  <div class="col-6" *ngFor="let vid of video">
                      <youtube-player
                          videoId="{{vid.key}}"
                          suggestedQuality="highres"
                          [height]="250" [width]="500"
                          [startSeconds]="4"
                          [endSeconds]="8">
                      </youtube-player>
                  </div>
              </div>
          </div>
      </div> -->
}
