.mxh-35-r {
  max-height: 35rem;
}

.text-pretty {
  text-wrap: pretty;
}

.text-balance {
  text-wrap: balance;
}

.min-h-vp-nav {
  min-height: calc(100vh - 58px);
}

.fs-7 {
  font-size: 0.8rem;
}

.fs-8 {
  font-size: 0.6rem;
}
