<div
  class="card h-100 card-movie rounded"
  role="button"
  [routerLink]="['/movies', movie.id]"
>
  <img
    class="card-img-top position-relative object-fit-cover w-auto"
    [ngSrc]="getImagePath(movie.poster_path)"
    width="260"
    height="390"
    priority
    [alt]="movie.title"
  />
  <div class="card-body">
    <h6 class="fs-7 title-movie" [title]="movie.title">
      {{ movie.title }}
    </h6>
    <app-genres-chips [genres]="movie.genres" />
  </div>
  <div class="card-footer d-flex justify-content-between align-items-center">
    <small>{{ movie.release_date | date: "MMMM d, y" }}</small>
    <app-score [score]="movie.vote_average" />
  </div>
</div>
