<div class="placeholder-glow">
  <div class="background-placeholder placeholder position-relative">
    <div class="row">
      <div class="col-sm-5 col-md-6 col-lg-4 p-5 placeholder-glow">
        <div
          class="img-fluid rounded mx-auto d-block h-35-r bg-body-tertiary aspect-radio-2-3"
        ></div>
      </div>
      <div class="col-sm-7 col-md-6 col-lg-8 p-5">
        <h2 class="placeholder-glow">
          <span class="placeholder col-6 bg-body-tertiary"></span>
        </h2>
        <p class="card-text placeholder-glow">
          <span class="placeholder col-7 bg-body-tertiary"></span>
          <span class="placeholder col-4 bg-body-tertiary"></span>
          <span class="placeholder col-4 bg-body-tertiary"></span>
          <span class="placeholder col-6 bg-body-tertiary"></span>
          <span class="placeholder col-8 bg-body-tertiary"></span>
          <span class="placeholder col-7 bg-body-tertiary"></span>
          <span class="placeholder col-4 bg-body-tertiary"></span>
          <span class="placeholder col-4 bg-body-tertiary"></span>
          <span class="placeholder col-6 bg-body-tertiary"></span>
          <span class="placeholder col-8 bg-body-tertiary"></span>
          <span class="placeholder col-7 bg-body-tertiary"></span>
          <span class="placeholder col-4 bg-body-tertiary"></span>
          <span class="placeholder col-4 bg-body-tertiary"></span>
          <span class="placeholder col-6 bg-body-tertiary"></span>
          <span class="placeholder col-8 bg-body-tertiary"></span>
          <span class="placeholder col-7 bg-body-tertiary"></span>
          <span class="placeholder col-4 bg-body-tertiary"></span>
          <span class="placeholder col-4 bg-body-tertiary"></span>
          <span class="placeholder col-6 bg-body-tertiary"></span>
          <span class="placeholder col-8 bg-body-tertiary"></span>
        </p>
      </div>
    </div>
  </div>
</div>
