<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark shadow-lg">
  <div class="container-fluid px-4">
    <a class="navbar-brand me-2 font-pacifico" routerLink="/">
      <span class="">Bray<span class="text-primary">Dev</span></span>
    </a>
    <!-- <button
      mat-mini-fab
      color="accent"
      class="navbar-toggler btn"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <mat-icon>menu</mat-icon>
    </button> -->
    <button
      mat-icon-button
      color="accent"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ml-5">
          <a class="nav-link" role="button" aria-current="page">
            <i class="fas fa-film"></i> Películas</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button">
            <i class="fas fa-tv"></i> Series de TV</a
          >
        </li>
      </ul>
      <form class="d-flex gap-3">
        <button type="button" class="btn btn-outline-light">
          Inicia sesión
        </button>
        <button type="button" class="btn btn-light">Regístrate</button>
        <!-- <a
          class="btn btn-dark btn-sm px-3 d-flex align-items-center"
          href="https://github.com/brayandavila"
          target="_blank"
          role="button"
          ><i class="fab fa-github"></i
        ></a> -->
      </form>
    </div>
  </div>
</nav>
