<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark shadow-lg">
  <div class="container-fluid">
    <a class="navbar-brand me-2" routerLink="/">
      <span class="d-sm-none ps-3">API IMDB</span>
    </a>
    <button
      class="navbar-toggler btn bnt-link text-white"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span>
        <i class="fas fa-bars"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ml-5">
          <a class="nav-link" role="button" aria-current="page">
            <i class="fas fa-film"></i> Películas</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button">
            <i class="fas fa-tv"></i> Series de TV</a
          >
        </li>
      </ul>
      <form class="d-flex">
        <button type="button" class="btn btn-outline-light px-3 me-2">
          Inicia sesión
        </button>
        <button type="button" class="btn btn-light me-3">Regístrate</button>
        <a
          class="btn btn-dark btn-sm px-3 d-flex align-items-center"
          href="https://github.com/brayandavila"
          target="_blank"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </form>
    </div>
  </div>
</nav>
