.circle-progress-custom {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  transform: scale(1);
}

.circle-progress-custom:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
